/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

a {
    color: #428BCA;
    text-decoration: none;
}

.post-row-mt{
    margin-top: 2.5rem;
}

.post-row-mt-5{
    margin-top: 5px;
}

.post-row-mt-10{
    margin-top: 10px;
}

.margin-tp-2{
    margin-top: 2rem;
}

.margin-btm-2{
    margin-bottom: 2rem;
}

.card-padding-10{
    padding: 10px;
}

.width-25{
    width: 25%;
}

.width-40{
    width: 30%;
}

.width-60{
    width: 60%;
}

.margin-btm{
    margin-bottom: 2rem;
}